/* .App { */
/*   text-align: center; */
/* } */

/* .App-header { */
/*   background-color: #222; */
/*   height: 80px; */
/*   padding: 20px; */
/*   color: white; */
/* } */

circle {
  cursor: pointer;
}
